include header.pug 
doctype html
html(lang="en")
    head 
        meta(charset="utf-8")
        title Tweeter 404
        link(rel="stylesheet" type="text/css" href="/css/main.css")
    body#background 
        +header("/login", "/logout", "/")
        div.box 
            h1 404 File Not Found Error 