mixin header(page1, page2, page3) 
    div.page-header
            div.pages 
                a.pageswap(href=page1) Login 
                a.pageswap(href=page2) Logout 
                a.pageswap(href=page3) Main 
            div.header-title 
                h1.top Welcome to 
                    em Tweeter! 
                p.bottom A place for people to agree on things.
            img.right(src="resources/images/tweeter.png" alt="tweeterMain" width=100 height=100)