include header.pug 
doctype html 
html(lang="en")
    head
        meta(charset="utf-8")
        title Tweeter Incorrect Password 
        link(rel='stylesheet' type='text/css' href='css/main.css')
    body#background  
        +header("/login", "/logout", "/")
        div.box 
            p.content 
                |Incorrect password for that account. 
                br
                br 
                |Please try again. 
                br
                |Unless it isn't your account.
                br 
                br 
                |Then don't.
            