include header.pug 
doctype html 
html(lang="en")
    head
        meta(charset="utf-8")
        title Tweeter Login 
        link(rel='stylesheet' type='text/css' href='css/main.css')
    body#background  
        +header("/login", "logout", "/")
        form.box(action='/login' method='post') 
            div.username 
                label(for='username') Username: 
                input#username(type='text' name='userName' required maxlength=50) 
            div.password 
                label(for='password') Password: 
                input#password(type='text' name='passWord' required maxlength=50) 
            div.submit 
                input(type='submit')