include header.pug
doctype html 
html(lang="en")
    head
        meta(charset="utf-8")
        title Tweeter Logout 
        link(rel='stylesheet' type='text/css' href='css/main.css')
    body#background  
        +header("/login", "/logout", "/")
        div.box 
            p.content 
                |You are now logged out. 
                br 
                |Thanks for visiting our site!! 
                br 
                | Goodbye Now! &lt;3
            